.VibePlayerBar_root__G3MOe {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: min(48rem, 100%);
}
@media only screen and (max-width: 767.98px) {
    .VibePlayerBar_root__G3MOe {
        width: min(28.75rem, 100%);
    }
}
.VibePlayerBar_progress__Cri6E {
    align-items: center;
    color: hsla(0, 0%, 100%, 0.7);
    display: flex;
    gap: var(--ym-spacer-size-xxxs);
    max-height: 4rem;
    min-height: 4rem;
    opacity: 0;
    pointer-events: none;
    position: relative;
    transition: opacity var(--ym-duration-transition) ease-in-out;
    width: 100%;
}
.VibePlayerBar_progress_visible__EfP1V {
    opacity: 1;
    pointer-events: auto;
}
@media (prefers-reduced-motion: reduce) {
    .VibePlayerBar_progress__Cri6E {
        transition: none;
    }
}
@media only screen and (max-width: 767.98px) {
    .VibePlayerBar_progress__Cri6E {
        min-height: 3.5rem;
    }
}


@media (max-width: 1000px) {
    .VibePlayerBar_progress__Cri6E {
        display: grid;
        grid-template-columns: auto auto auto minmax(0, 1fr) auto auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        max-height: unset;
    }

    .VibePlayerBar_progress__Cri6E > :nth-child(4) {
        grid-column: 1 / -1;
        grid-row: 1;
        min-width: 0;
        justify-self: center;
    }

    .VibePlayerBar_progress__Cri6E > :nth-child(1) {
        grid-row: 2;
        grid-column: 1;
    }

    .VibePlayerBar_progress__Cri6E > :nth-child(2) {
        grid-row: 2;
        grid-column: 2;
    }

    .VibePlayerBar_progress__Cri6E > :nth-child(3) {
        grid-row: 2;
        grid-column: 3;
    }

    .VibePlayerBar_progress__Cri6E > :nth-child(5) {
        grid-row: 2;
        grid-column: 5;
    }

    .VibePlayerBar_progress__Cri6E > :nth-child(6) {
        grid-row: 2;
        grid-column: 6;
    }

    .VibePlayerBar_progress__Cri6E > :nth-child(7) {
        grid-row: 2;
        grid-column: 7;
    }

    .VibePlayerBar_progress__Cri6E > button {
        width: max-content;
        height: max-content;
        justify-self: center;
        align-self: center;
        flex: none;
    }
}


.VibePlayerBar_button__GLhJ_,
.VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: hsla(0, 0%, 100%, 0.08);
    color: inherit;
    color: var(--accent-color, inherit);
    overflow: hidden;
    padding: var(--ym-spacer-size-m);
    position: relative;
    transition:
        background-color var(--ym-duration-transition),
        transform var(--ym-duration-transition),
        color var(--ym-duration-transition);
    z-index: 1;
}
.VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k:has(:focus-visible),
.VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k:hover,
.VibePlayerBar_button__GLhJ_:has(:focus-visible),
.VibePlayerBar_button__GLhJ_:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
}
.VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k:not(:disabled):focus-visible,
.VibePlayerBar_button__GLhJ_:not(:disabled):focus-visible {
    color: inherit;
    color: var(--accent-color, inherit);
}
.VibePlayerBar_button__GLhJ_ .VibePlayerBar_ripple__8YHn7,
.VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k .VibePlayerBar_ripple__8YHn7 {
    animation: VibePlayerBar_ripple__8YHn7 0.6s linear;
    background-color: hsla(0, 0%, 100%, 0.09);
    border-radius: var(--ym-radius-size-round);
    position: absolute;
    transform: scale(0);
}
@media (prefers-reduced-motion: reduce) {
    .VibePlayerBar_button__GLhJ_ .VibePlayerBar_ripple__8YHn7,
    .VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k .VibePlayerBar_ripple__8YHn7 {
        animation: none;
    }
}
@keyframes VibePlayerBar_ripple__8YHn7 {
    to {
        opacity: 0;
        transform: scale(4);
    }
}
@supports not selector(:has(*)) {
    .VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k:focus-visible,
    .VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k:hover,
    .VibePlayerBar_button__GLhJ_:focus-visible,
    .VibePlayerBar_button__GLhJ_:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}
@media only screen and (max-width: 767.98px) {
    .VibePlayerBar_button__GLhJ_,
    .VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k {
        padding: var(--ym-spacer-size-l);
    }
}
@media (prefers-reduced-motion: reduce) {
    .VibePlayerBar_button__GLhJ_,
    .VibePlayerBar_button__GLhJ_.VibePlayerBar_important__XGV7k {
        transition: none;
    }
}
.VibePlayerBar_likeButton_mobilePaused__ufI2D {
    background-color: transparent;
    inset-inline-end: 0;
    position: absolute;
}
.VibePlayerBar_likeButton_mobilePaused__ufI2D:has(:focus-visible),
.VibePlayerBar_likeButton_mobilePaused__ufI2D:hover {
    background-color: transparent;
}
@supports not selector(:has(*)) {
    .VibePlayerBar_likeButton_mobilePaused__ufI2D:focus-visible,
    .VibePlayerBar_likeButton_mobilePaused__ufI2D:hover {
        background-color: transparent;
    }
}
.VibePlayerBar_changeVolume__x7FHC {
    --position-slider-container-inline: -1.125rem;
    --position-slider-container-block: -13.75rem;
    --slider-hover-gap: 0.25rem;
    --thumb-color: var(--accent-color, var(--ym-controls-color-secondary-on_outline-enabled));
}
.VibePlayerBar_verticalSlider__JPDlB {
    background-color: hsla(0, 0%, 100%, 0.08);
    border: none;
    cursor: pointer;
}
.VibeContextMenu_divider__45urL {
    background-color: var(--ym-surface-color-primary-enabled-list);
    block-size: 0.0625rem;
    margin-block-end: var(--ym-spacer-size-xxs);
    margin-block-start: var(--ym-spacer-size-xxs);
    margin-inline-end: var(--ym-spacer-size-s);
    margin-inline-start: var(--ym-spacer-size-s);
}
.VibeContextMenu_item_active__DnFoW {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.VibePlayerbarMeta_root___dH5G {
    display: flex;
    flex: 1 1;
    height: 100%;
    min-inline-size: 0;
    position: relative;
}

@media (max-width: 1005px) {

    .VibePlayerbarMeta_root___dH5G {
        height: 64px;
        transition: width 0.2s;
        width: 214px;
    }
}

@media (max-width: 1000px) {

    .VibePlayerbarMeta_root___dH5G {
        width: 100%;
    }
}

.VibePlayerbarMeta_timecodeOverlay__JhnCy {
    align-items: center;
    color: inherit;
    color: var(--accent-color, inherit);
    display: flex;
    font-family: var(--ym-font-heading);
    font-size: var(--ym-font-size-headline-xs);
    font-style: normal;
    font-weight: var(--ym-font-weight-bold);
    inset: 0;
    justify-content: center;
    letter-spacing: normal;
    line-height: var(--ym-font-line-height-headline-xs);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transition: opacity var(--ym-duration-transition) ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .VibePlayerbarMeta_timecodeOverlay__JhnCy {
        transition: none;
    }
}
.VibePlayerbarMeta_trackName__eyhTE {
    align-items: center;
    animation: VibePlayerbarMeta_fade-in__rycjr 0.5s ease-in-out;
    color: inherit;
    color: var(--accent-color, inherit);
    display: flex;
    flex: 1 1;
    height: 100%;
    justify-content: center;
    min-inline-size: 0;
    position: relative;
    text-align: center;
    transition: opacity var(--ym-duration-transition) ease-in-out;
    width: 100%;
}
@media (prefers-reduced-motion: reduce) {
    .VibePlayerbarMeta_trackName__eyhTE {
        animation: none;
        transition: none;
    }
}
.VibePlayerbarMeta_center__6kbMi {
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.08);
    border-radius: var(--ym-radius-size-xxxl);
    display: flex;
    flex: 1 1;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.VibePlayerbarMeta_center__6kbMi:before {
    background: hsla(0, 0%, 100%, 0.1);
    content: '';
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    transform: translate3d(calc(var(--track-progress) - 100%), 0, 0);
    transition: transform var(--progress-transition, var(--ym-duration-transition) linear);
    width: 100%;
}
@media screen and (prefers-reduced-motion: reduce) {
    .VibePlayerbarMeta_center__6kbMi:before {
        transition: none;
    }
}
.VibePlayerbarMeta_center_active__a1rFN {
    cursor: pointer;
}
.VibePlayerbarMeta_center_withTimecode__hoQVg .VibePlayerbarMeta_trackName__eyhTE {
    animation: none;
    opacity: 0;
}
.VibePlayerbarMeta_center_withTimecode__hoQVg .VibePlayerbarMeta_timecodeOverlay__JhnCy {
    opacity: 1;
}
.VibePlayerbarMeta_center_withExplicitMark__emag_ {
    padding-inline-end: var(--ym-spacer-size-xxxl);
    padding-inline-start: var(--ym-spacer-size-xxxl);
}
@media only screen and (max-width: 767.98px) {
    .VibePlayerbarMeta_center_withExplicitMark__emag_ {
        padding-inline-end: 4.25rem;
        padding-inline-start: 4.25rem;
    }
    .VibePlayerbarMeta_center_withExplicitMark_playing__SCPvO {
        padding-inline-end: var(--ym-spacer-size-xxxl);
        padding-inline-start: var(--ym-spacer-size-xxxl);
    }
    .VibePlayerbarMeta_center_withExplicitMark_playing__SCPvO .VibePlayerbarMeta_explicitMarkContainer__d0pfO {
        inset-inline-end: var(--ym-spacer-size-xs);
    }
}
.VibePlayerbarMeta_center_withoutExplicitMark__OrzGP {
    padding-inline-end: var(--ym-spacer-size-m);
    padding-inline-start: var(--ym-spacer-size-m);
}
@media only screen and (max-width: 767.98px) {
    .VibePlayerbarMeta_center_withoutExplicitMark__OrzGP {
        padding-inline-end: var(--ym-spacer-size-xxxxl);
        padding-inline-start: var(--ym-spacer-size-xxxxl);
    }
    .VibePlayerbarMeta_center_withoutExplicitMark_playing__KnEhn {
        padding-inline-end: var(--ym-spacer-size-xxl);
        padding-inline-start: var(--ym-spacer-size-xxl);
    }
}
.VibePlayerbarMeta_center__6kbMi {
    outline: none;
}
.VibePlayerbarMeta_center__6kbMi:not(:disabled):focus-visible {
    box-shadow: 0 0 0 var(--ym-spacer-size-xxxs) var(--ym-controls-color-secondary-outline-focused_stroke);
}
.VibePlayerbarMeta_scrollingTrackName__gl_Cl {
    mask-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 20%, #fff 65%, hsla(0, 0%, 100%, 0));
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}
.VibePlayerbarMeta_trackNameText__9IgY2 {
    font-family: var(--ym-font-heading);
    font-size: var(--ym-font-size-headline-xs);
    font-style: normal;
    font-weight: var(--ym-font-weight-bold);
    letter-spacing: normal;
    line-height: var(--ym-font-line-height-headline-xs);
}
.VibePlayerbarMeta_slider__pyonb {
    height: 100%;
    inset: 0;
    opacity: 0;
    position: absolute;
}
.VibePlayerbarMeta_slider_active__H1uGz {
    cursor: pointer;
}
.VibePlayerbarMeta_explicitMarkContainer__d0pfO {
    display: flex;
    inset-block-start: 50%;
    inset-inline-end: var(--ym-spacer-size-l);
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
}
@media only screen and (max-width: 767.98px) {
    .VibePlayerbarMeta_explicitMarkContainer__d0pfO {
        inset-inline-end: calc(var(--ym-spacer-size-xs) + 2.625rem);
    }
}
.VibePlayerbarMeta_explicitMark__G8dYl {
    color: inherit;
    color: var(--accent-color, inherit);
    display: flex;
    flex-shrink: 0;
}
@keyframes VibePlayerbarMeta_fade-in__rycjr {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.VideoAd_root__e7gla {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: none;
    border: none;
    border-radius: var(--ym-radius-size-xxl);
    overflow: visible;
    visibility: visible;
    width: 33.75rem;
}
.VideoAd_root_hidden__78CPl {
    visibility: hidden;
}
@media only screen and (max-width: 767.98px) {
    .VideoAd_root__e7gla {
        position: fixed;
        width: 19.375rem;
    }
}
@supports (-webkit-hyphens: none) {
    .VideoAd_root__e7gla {
        inset-block-start: 30%;
    }
}
.VideoAd_videoBlock__bqNRq {
    border-start-end-radius: var(--ym-radius-size-xxl);
    border-start-start-radius: var(--ym-radius-size-xxl);
    height: 20rem;
    overflow: hidden;
    position: relative;
}
.VideoAd_videoBlock__bqNRq,
.VideoAd_video__j1f_y {
    width: 33.75rem;
}
@media only screen and (max-width: 767.98px) {
    .VideoAd_video__j1f_y {
        width: 19.375rem;
    }
}
.VideoAd_content__QroDp {
    position: relative;
}
.VideoAd_close__sMGlV {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: var(--ym-background-color-primary-enabled-content);
    inset-inline-end: calc(var(--ym-spacer-size-xxxxxl) * -1);
    position: absolute;
}
.VideoAd_close__sMGlV:focus-visible,
.VideoAd_close__sMGlV:hover {
    background-color: var(--ym-controls-color-secondary-outline-enabled_stroke);
    color: var(--ym-controls-color-secondary-on_default-hovered);
}
@media only screen and (max-width: 767.98px) {
    .VideoAd_close__sMGlV {
        inset-inline-end: calc(var(--ym-spacer-size-xxxxl) * -1);
    }
}
@media only screen and (max-width: 479.98px) {
    .VideoAd_close__sMGlV {
        inset-inline-end: -2.25rem;
    }
}
.VideoAd_notifyClose__w82mE {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.VideoAd_cover__kQwxh.VideoAd_important__VZkA_ {
    background-color: transparent;
}
.VideoAd_icon__o_Hzn {
    height: var(--ym-icon-size-xs);
    width: var(--ym-icon-size-xs);
}
.VideoAd_text__rjKqZ {
    color: var(--ym-controls-color-primary-text-enabled);
}
