.PostArtists_root__Zxmjq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.PostArtists_content__JzGOH {
    padding-block-end: var(--ym-spacer-size-xl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .PostArtists_content__JzGOH {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .PostArtists_content__JzGOH {
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .PostArtists_content__JzGOH {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.PostArtists_content__JzGOH {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@media only screen and (min-width: 360px) {
    .PostArtists_content__JzGOH {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 500px) {
    .PostArtists_content__JzGOH {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .PostArtists_content__JzGOH {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 890px) {
    .PostArtists_content__JzGOH {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .PostArtists_content__JzGOH {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .PostArtists_content__JzGOH {
        --min-column-size: 10.75rem;
        grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
        grid-template-columns: repeat(2, minmax(var(--min-column-size), 1fr)) !important;
    }
    @container post-page (width >= 618px) {
        .PostArtists_content__JzGOH {
            grid-template-columns: repeat(3, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container post-page (width >= 815px) {
        .PostArtists_content__JzGOH {
            grid-template-columns: repeat(4, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container post-page (width >= 1010px) {
        .PostArtists_content__JzGOH {
            grid-template-columns: repeat(5, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container post-page (width >= 1206px) {
        .PostArtists_content__JzGOH {
            grid-template-columns: repeat(6, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
}
@media only screen and (min-width: 1920px) {
    .PostArtists_content__JzGOH {
        grid-template-columns: repeat(7, 1fr);
    }
}
