.GenreAlbumsPage_root__r_Sts {
    container-name: genre-albums-page;
    container-type: inline-size;
    height: 100%;
    padding: 0;
    position: relative;
}
@media only screen and (max-width: 767.98px) {
    .GenreAlbumsPage_root__r_Sts {
        container-type: normal;
    }
}
.GenreAlbumsPage_scrollContainer__K_v_b.GenreAlbumsPage_important__r3P2T {
    height: 100%;
    padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
    .GenreAlbumsPage_scrollContainer__K_v_b.GenreAlbumsPage_important__r3P2T {
        height: auto;
        padding-block-start: var(--subpage-sticky-header-height);
    }
}
.GenreAlbumsPage_footer__vmCiR {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .GenreAlbumsPage_footer__vmCiR {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .GenreAlbumsPage_footer__vmCiR {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .GenreAlbumsPage_footer__vmCiR {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.GenreAlbumsPage_item__zRzB0 {
    display: flex;
    min-width: 8.75rem;
}
.GenreAlbumsPage_content__PRJUm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: var(--subpage-sticky-header-height);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@supports (-moz-appearance: none) {
    .GenreAlbumsPage_content__PRJUm {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .GenreAlbumsPage_content__PRJUm {
        margin-block-start: 0;
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .GenreAlbumsPage_content__PRJUm {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
@media only screen and (min-width: 360px) {
    .GenreAlbumsPage_content__PRJUm {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 500px) {
    .GenreAlbumsPage_content__PRJUm {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .GenreAlbumsPage_content__PRJUm {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 890px) {
    .GenreAlbumsPage_content__PRJUm {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .GenreAlbumsPage_content__PRJUm {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .GenreAlbumsPage_content__PRJUm {
        --min-column-size: 10.75rem;
        grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
        grid-template-columns: repeat(2, minmax(var(--min-column-size), 1fr)) !important;
    }
    @container genre-albums-page (width >= 618px) {
        .GenreAlbumsPage_content__PRJUm {
            grid-template-columns: repeat(3, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container genre-albums-page (width >= 815px) {
        .GenreAlbumsPage_content__PRJUm {
            grid-template-columns: repeat(4, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container genre-albums-page (width >= 1010px) {
        .GenreAlbumsPage_content__PRJUm {
            grid-template-columns: repeat(5, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container genre-albums-page (width >= 1206px) {
        .GenreAlbumsPage_content__PRJUm {
            grid-template-columns: repeat(6, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
}
@media only screen and (min-width: 1920px) {
    .GenreAlbumsPage_content__PRJUm {
        grid-template-columns: repeat(7, 1fr);
    }
}
.GenreArtistsPage_root__PgtIz {
    container-name: genre-artists-page;
    container-type: inline-size;
    height: 100%;
    padding: 0;
    position: relative;
}
@media only screen and (max-width: 767.98px) {
    .GenreArtistsPage_root__PgtIz {
        container-type: normal;
    }
}
.GenreArtistsPage_container__NruTu {
    --subpage-sticky-header-height: 5rem;
    display: flex;
    flex-direction: column;
    margin-block-start: 5rem;
    margin-block-start: var(--subpage-sticky-header-height);
    margin-inline-start: var(--ym-spacer-size-xxl);
    padding: 0;
    row-gap: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
    .GenreArtistsPage_container__NruTu {
        margin-inline-start: var(--ym-spacer-size-l);
    }
}
.GenreArtistsPage_footer__fYaCO {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .GenreArtistsPage_footer__fYaCO {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .GenreArtistsPage_footer__fYaCO {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .GenreArtistsPage_footer__fYaCO {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
