.CollectionShelfShimmer_title__X3d9J {
    margin-block-end: var(--ym-spacer-size-l);
    margin-inline-start: var(--ym-spacer-size-xs);
}
.CollectionShelfLiked_header__u9MqV {
    padding-block-end: var(--ym-spacer-size-l);
}
.CollectionShelfLiked_shelfColumn__4KX_5.CollectionShelfLiked_important__0K3qk {
    width: 100%;
}
