.CollectionNonMusicLikedPage_root__0e_hz {
    container-name: collection-non-music-liked-page;
    container-type: inline-size;
    height: 100%;
    padding: 0;
    position: relative;
}
@media only screen and (max-width: 767.98px) {
    .CollectionNonMusicLikedPage_root__0e_hz {
        container-type: normal;
    }
}
.CollectionNonMusicLikedPage_scrollContainer__OthtN.CollectionNonMusicLikedPage_important__MNJX3 {
    height: 100%;
    padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
    .CollectionNonMusicLikedPage_scrollContainer__OthtN.CollectionNonMusicLikedPage_important__MNJX3 {
        height: auto;
        padding-block-start: var(--subpage-sticky-header-height);
    }
}
.CollectionNonMusicLikedPage_footer__F_mtD {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .CollectionNonMusicLikedPage_footer__F_mtD {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .CollectionNonMusicLikedPage_footer__F_mtD {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .CollectionNonMusicLikedPage_footer__F_mtD {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.CollectionNonMusicLikedPage_item__Rb0yS {
    display: flex;
    min-width: 8.75rem;
}
.CollectionNonMusicLikedPage_emptyBlock__WAdri {
    margin-block-start: 0;
    padding-block-start: 30vh;
    padding-block-start: 30dvh;
}
.CollectionNonMusicLikedPage_content__9WDX5 {
    margin-block-start: var(--subpage-sticky-header-height);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        margin-block-start: 0;
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .CollectionNonMusicLikedPage_content__9WDX5 {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.CollectionNonMusicLikedPage_content__9WDX5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@media only screen and (min-width: 360px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 500px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 890px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        --min-column-size: 10.75rem;
        grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
        grid-template-columns: repeat(2, minmax(var(--min-column-size), 1fr)) !important;
    }
    @container collection-non-music-liked-page (width >= 618px) {
        .CollectionNonMusicLikedPage_content__9WDX5 {
            grid-template-columns: repeat(3, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container collection-non-music-liked-page (width >= 815px) {
        .CollectionNonMusicLikedPage_content__9WDX5 {
            grid-template-columns: repeat(4, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container collection-non-music-liked-page (width >= 1010px) {
        .CollectionNonMusicLikedPage_content__9WDX5 {
            grid-template-columns: repeat(5, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container collection-non-music-liked-page (width >= 1206px) {
        .CollectionNonMusicLikedPage_content__9WDX5 {
            grid-template-columns: repeat(6, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
}
@media only screen and (min-width: 1920px) {
    .CollectionNonMusicLikedPage_content__9WDX5 {
        grid-template-columns: repeat(7, 1fr);
    }
}
