.CollectionNonMusicPage_root__U6DRX {
    height: 100%;
    padding: 0;
    position: relative;
}
.CollectionNonMusicPage_scrollableContainer__iIZvl.CollectionNonMusicPage_important__Y9D5x {
    height: calc(100% - var(--subpage-sticky-header-height));
    padding-inline-start: 0;
}
.CollectionNonMusicPage_content__d8E7R {
    height: 100%;
    justify-content: space-between;
    margin-block-start: var(--subpage-sticky-header-height);
    padding: 0;
}
.CollectionNonMusicPage_content__d8E7R,
.CollectionNonMusicPage_likedBlocks__cNqyq {
    display: flex;
    flex-direction: column;
}
.CollectionNonMusicPage_likedBlocks__cNqyq {
    gap: var(--ym-spacer-size-xxl);
}
.CollectionNonMusicPage_carousel__zDCY0 {
    padding-inline-start: var(--ym-spacer-size-xxl);
    scroll-padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 768px) {
    .CollectionNonMusicPage_carousel__zDCY0 {
        padding-inline-start: var(--ym-spacer-size-l);
        scroll-padding-inline-start: var(--ym-spacer-size-l);
    }
}
.CollectionNonMusicPage_blockHeader__PoAFY {
    padding-block-end: var(--ym-spacer-size-l);
    padding-block-start: var(--ym-spacer-size-m);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
    .CollectionNonMusicPage_blockHeader__PoAFY {
        padding-block-end: var(--ym-spacer-size-xs);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
.CollectionNonMusicPage_footer__9feIA {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xl);
}
@supports (-moz-appearance: none) {
    .CollectionNonMusicPage_footer__9feIA {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .CollectionNonMusicPage_footer__9feIA {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .CollectionNonMusicPage_footer__9feIA {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.CollectionNonMusicPage_shelfBlockCarousel__Kd6DB {
    padding-inline-start: var(--ym-spacer-size-l);
    scroll-padding-inline-start: var(--ym-spacer-size-l);
}
@media only screen and (max-width: 768px) {
    .CollectionNonMusicPage_shelfBlockCarousel__Kd6DB {
        padding-inline-start: var(--ym-spacer-size-xs);
        scroll-padding-inline-start: var(--ym-spacer-size-xs);
    }
}
.CollectionNonMusicPage_shelfBlockHeader__yfFcf {
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@media only screen and (max-width: 767.98px) {
    .CollectionNonMusicPage_shelfBlockHeader__yfFcf {
        padding-inline-start: var(--ym-spacer-size-l);
    }
}
@supports (-moz-appearance: none) {
    .CollectionNonMusicPage_blockHeader__PoAFY,
    .CollectionNonMusicPage_carousel__zDCY0,
    .CollectionNonMusicPage_shelfBlockCarousel__Kd6DB,
    .CollectionNonMusicPage_shelfBlockHeader__yfFcf {
        padding-inline-end: var(--ym-spacer-size-l);
    }
}
