.SearchBestResultsBookChapterBlock_root__2JjcF {
    container-name: best-results-non-music;
    container-type: inline-size;
}
.SearchBestResultsBookChapterBlock_cover__I2CYO {
    margin-inline-end: var(--ym-spacer-size-m);
}
