.Pin_root__UyplT {
    border-radius: var(--ym-radius-size-m);
    cursor: pointer;
}
.Pin_root__UyplT .Pin_ripple__Vzpzs {
    animation: Pin_ripple__Vzpzs 0.6s linear;
    background-color: var(--ym-controls-color-secondary-default-pressed);
    border-radius: var(--ym-radius-size-round);
    position: absolute;
    transform: scale(0);
}
@media (prefers-reduced-motion: reduce) {
    .Pin_root__UyplT .Pin_ripple__Vzpzs {
        animation: none;
    }
}
@keyframes Pin_ripple__Vzpzs {
    to {
        opacity: 0;
        transform: scale(4);
    }
}
.Pin_link__nz6I7 {
    align-items: center;
    border-radius: var(--ym-radius-size-m);
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.Pin_link__nz6I7,
.Pin_root_withoutLink__fr1XH {
    column-gap: var(--ym-spacer-size-xs);
    padding-block-end: var(--ym-spacer-size-xs);
    padding-block-start: var(--ym-spacer-size-xs);
    padding-inline-end: var(--ym-spacer-size-m);
    padding-inline-start: var(--ym-spacer-size-s);
}
.Pin_info__x_7Zx {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    opacity: 1;
}
.Pin_info_withContextMenu__7HX5A {
    max-width: 75%;
}
.Pin_info_collapsed__bF9ac {
    opacity: 0;
}
.Pin_info_animated__AQQZk {
    animation: Pin_show__xSkOa var(--navbar-animation-show-duration) forwards;
}
@media (prefers-reduced-motion: reduce) {
    .Pin_info_animated__AQQZk {
        animation: none;
    }
}
.Pin_info_collapsed__bF9ac.Pin_info_animated__AQQZk {
    animation: Pin_hide__RCc9X var(--navbar-animation-hide-duration) forwards;
}
@media (prefers-reduced-motion: reduce) {
    .Pin_info_collapsed__bF9ac.Pin_info_animated__AQQZk {
        animation: none;
    }
}
.Pin_meta__MzX_7 {
    flex-grow: 1;
    justify-content: space-between;
    overflow: hidden;
}
.Pin_contextMenu__WGmhp,
.Pin_meta__MzX_7 {
    align-items: center;
    display: flex;
}
.Pin_contextMenu__WGmhp {
    inset-block-start: 50%;
    inset-inline-end: var(--ym-spacer-size-xxxs);
    position: absolute;
    transform: translateY(-50%);
}
.Pin_contextMenu_hidden__xksGY {
    display: none;
}
.Pin_title__Jw5WW {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.Pin_subtitle__rb8Gq {
    color: var(--ym-controls-color-primary-text-enabled);
}
.Pin_cover__7ofYY {
    max-height: var(--ym-icon-size-l);
    max-width: var(--ym-icon-size-l);
    min-height: var(--ym-icon-size-l);
    min-width: var(--ym-icon-size-l);
}
.Pin_cover_withAnimation__2Z2n6 {
    animation: Pin_show_and_scale__VdNfj 0.3s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .Pin_cover_withAnimation__2Z2n6 {
        animation: none;
    }
}
@keyframes Pin_hide__RCc9X {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes Pin_show__xSkOa {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes Pin_show_and_scale__VdNfj {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.PinItem_contextMenu__VwiFp {
    color: var(--ym-controls-color-primary-text-enabled);
    opacity: 0;
}
.PinItem_contextMenu__VwiFp:focus-visible,
.PinItem_contextMenu__VwiFp:hover {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.PinItem_contextMenu_visible__Zgwkh {
    opacity: 1;
}
.PinItem_root__WSoCn:has(:focus-visible) .PinItem_contextMenu__VwiFp,
.PinItem_root__WSoCn:hover .PinItem_contextMenu__VwiFp {
    opacity: 1;
}
@supports not selector(:has(*)) {
    .PinItem_root__WSoCn:focus-within .PinItem_contextMenu__VwiFp,
    .PinItem_root__WSoCn:hover .PinItem_contextMenu__VwiFp {
        opacity: 1;
    }
}
.PinItem_image__Ow56U {
    transition: transform var(--ym-duration-transition) ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .PinItem_image__Ow56U {
        transition: none;
    }
}
.PinItem_cover__9TcjE,
.PinItem_image__Ow56U {
    aspect-ratio: 1;
    width: 100%;
}
@supports (-webkit-hyphens: none) {
    .PinItem_cover__9TcjE,
    .PinItem_image__Ow56U {
        height: 100%;
    }
}
.PinItem_tooltip__BGwBw {
    max-width: 18.75rem;
    width: -moz-fit-content;
    width: fit-content;
}
.PinsList_root__LN_2Z {
    --pins-min-height: calc(var(--top-fade-height) + var(--bottom-fade-height) + 7.5rem);
    flex-shrink: 0;
    padding-inline-end: var(--ym-spacer-size-xxs);
    padding-inline-start: var(--ym-spacer-size-xxs);
}
.PinsList_root_withScroll__g8x3V {
    flex-shrink: 1;
    min-height: var(--pins-min-height);
}
.PinsList_root_hasPins__3LXlo {
    --bottom-fade-height: var(--ym-spacer-size-xl);
    overflow: hidden;
    position: relative;
    z-index: 0;
    --top-fade-height: var(--ym-spacer-size-l);
    --bottom-fade-height: var(--ym-spacer-size-xxxl);
}
.PinsList_root_hasPins__3LXlo .PinsList_content__9RG7s {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-block-end: var(--bottom-fade-height);
    padding-block-start: var(--top-fade-height);
    scroll-padding-block-end: var(--bottom-fade-height);
    scroll-padding-block-start: var(--top-fade-height);
    scrollbar-width: none;
    transition: scrollbar-color 0.2s ease-in-out;
    width: 100%;
    --scrollbar-hidden: transparent;
}
.PinsList_root_hasPins__3LXlo .PinsList_content__9RG7s::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 0.5rem solid transparent;
    border-radius: var(--ym-radius-size-l);
    min-height: 3.125rem;
}
.PinsList_root_hasPins__3LXlo .PinsList_content__9RG7s::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
}
@supports selector(scrollbar-width:auto) {
    .PinsList_root_hasPins__3LXlo .PinsList_content__9RG7s {
        scrollbar-color: var(--scrollbar-hidden) transparent;
        scrollbar-gutter: stable;
    }
}
@supports selector(::-webkit-scrollbar) {
    .PinsList_root_hasPins__3LXlo .PinsList_content__9RG7s::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-hidden);
    }
}
@media (prefers-reduced-motion: reduce) {
    .PinsList_root_hasPins__3LXlo .PinsList_content__9RG7s {
        transition: none;
    }
}
@media only screen and (max-width: 1024px) {
    .PinsList_root_hasPins__3LXlo .PinsList_content__9RG7s::-webkit-scrollbar-thumb {
        border: 0.1875rem solid transparent;
    }
}
.PinsList_root_hasPins__3LXlo:after,
.PinsList_root_hasPins__3LXlo:before {
    content: '';
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.PinsList_root_hasPins__3LXlo:before {
    background: linear-gradient(180deg, var(--entity-branding-gradient-color-from) 0, hsla(0, 0%, 5%, 0) 100%);
    height: var(--top-fade-height);
    inset-block-start: 0;
}
.PinsList_root_hasPins__3LXlo:after {
    background: linear-gradient(1turn, var(--entity-branding-gradient-color-from) 0, hsla(0, 0%, 5%, 0) 100%);
    height: var(--bottom-fade-height);
    inset-block-end: 0;
}
.PinsList_pin_enter__2p2_6 {
    opacity: 0;
    transform: translateX(15%);
}
.PinsList_pin_enter_active__eNGlc {
    animation:
        PinsList_enter-fade__G_QY8 0.24s ease-in forwards,
        PinsList_enter-move__DSAXH 0.27s ease-in forwards;
}
@media (prefers-reduced-motion: reduce) {
    .PinsList_pin_enter_active__eNGlc {
        animation: none;
    }
}
.PinsList_pin_exit__y_gcM {
    opacity: 1;
    transform: translateX(0);
}
.PinsList_pin_exit_active__rF5Je {
    animation:
        PinsList_exit-fade__M6fYX 0.24s ease-in forwards,
        PinsList_exit-move__Jtgi0 0.27s ease-in forwards;
}
@media (prefers-reduced-motion: reduce) {
    .PinsList_pin_exit_active__rF5Je {
        animation: none;
    }
}
@keyframes PinsList_enter-fade__G_QY8 {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes PinsList_exit-fade__M6fYX {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes PinsList_enter-move__DSAXH {
    0% {
        transform: translateX(15%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes PinsList_exit-move__Jtgi0 {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(15%);
    }
}
.TicketImage_root__vTgWd {
    height: var(--ym-icon-size-m);
    width: var(--ym-icon-size-m);
}
.NavbarDesktop_collapseButton__XQh9d {
    align-items: center;
    background-color: var(--ym-controls-color-secondary-default-enabled);
    border-radius: var(--ym-radius-size-s);
    color: var(--ym-controls-color-secondary-on_outline-enabled_variant);
    display: flex;
    justify-content: center;
    margin-inline-end: calc(var(--ym-spacer-size-xs) * -1);
    opacity: 0;
    padding-block-end: var(--ym-spacer-size-xxxs);
    padding-block-start: var(--ym-spacer-size-xxxs);
    transition: opacity var(--ym-duration-transition);
    width: 1rem;
    z-index: var(--ym-z-index-header);
}
.NavbarDesktop_collapseButton__XQh9d:focus-visible,
.NavbarDesktop_collapseButton__XQh9d:hover {
    color: var(--ym-controls-color-secondary-on_default-enabled);
    opacity: 1;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktop_collapseButton__XQh9d {
        transition: none;
    }
}
.NavbarDesktop_root__scYzp {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.NavbarDesktop_root__scYzp:hover .NavbarDesktop_collapseButton__XQh9d {
    opacity: 1;
}
.NavbarDesktop_logoWrapper__89ce6 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-start: var(--ym-spacer-size-m);
    width: 100%;
}
.NavbarDesktop_navigation__dLUGW {
    margin-block-end: var(--ym-spacer-size-xs);
}
.NavbarDesktop_navigation_new__0j8W5 {
    align-self: flex-start;
    margin-inline-start: var(--ym-spacer-size-m);
}
.NavbarDesktop_navigation_gapFill__SsWxA {
    flex-grow: 1;
}
.NavbarDesktop_navigationGroup__eexLF {
    --navigation-group-vertical-gap: var(--ym-radius-size-xs);
}
.NavbarDesktop_logoLink__KR0Dk {
    flex-shrink: 0;
}
.NavbarDesktop_logo__Z4jGx {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding-inline-start: var(--ym-spacer-size-l);
    transition: padding-inline-start ease-in-out var(--navbar-collapse-duration);
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktop_logo__Z4jGx {
        transition: none;
    }
}
.NavbarDesktop_collapseButtonTooltip_hidden__tFoZZ {
    opacity: 0;
}
.NavbarDesktop_subTitle__Fqvr4 {
    color: var(--logo-color, var(--ym-logo-color-primary-variant));
    margin-block-start: var(--ym-spacer-size-xxxs);
    min-height: var(--ym-font-line-height-label-s);
    white-space: nowrap;
}
.NavbarDesktop_subTitle_withCursorPointer__VYJOh {
    cursor: pointer;
}
.NavbarDesktop_title__OrnHN {
    opacity: 1;
}
.NavbarDesktop_title_animate__XLxaQ {
    animation: NavbarDesktop_animation_show__pRFj9 var(--navbar-animation-show-duration) forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktop_title_animate__XLxaQ {
        animation: none;
    }
}
.NavbarDesktop_title_collapsed__IH9Bc {
    opacity: 0;
}
.NavbarDesktop_title_animate__XLxaQ.NavbarDesktop_title_collapsed__IH9Bc {
    animation: NavbarDesktop_animation_hide__8VxPs var(--navbar-animation-hide-duration) forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktop_title_animate__XLxaQ.NavbarDesktop_title_collapsed__IH9Bc {
        animation: none;
    }
}
.NavbarDesktop_pinsList___jXIM,
.NavbarDesktop_scrollableContainer__HLc9D {
    flex-grow: 1;
    width: 100%;
}
.NavbarDesktop_scrollableContainer__HLc9D {
    --top-fade-height: var(--ym-spacer-size-l);
    --bottom-fade-height: var(--ym-spacer-size-xl);
    overflow: hidden;
    position: relative;
    z-index: 0;
    --bottom-fade-height: var(--gap-between-contents);
}
.NavbarDesktop_scrollableContainer__HLc9D:after,
.NavbarDesktop_scrollableContainer__HLc9D:before {
    content: '';
    inset-inline-start: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.NavbarDesktop_scrollableContainer__HLc9D:before {
    background: linear-gradient(180deg, var(--entity-branding-gradient-color-from) 0, hsla(0, 0%, 5%, 0) 100%);
    height: var(--top-fade-height);
    inset-block-start: 0;
}
.NavbarDesktop_scrollableContainer__HLc9D:after {
    background: linear-gradient(1turn, var(--entity-branding-gradient-color-from) 0, hsla(0, 0%, 5%, 0) 100%);
    height: var(--bottom-fade-height);
    inset-block-end: 0;
}
.NavbarDesktop_scrollableContent__OyU4P {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-block-end: var(--bottom-fade-height);
    padding-block-start: var(--top-fade-height);
    scroll-padding-block-end: var(--bottom-fade-height);
    scroll-padding-block-start: var(--top-fade-height);
    scrollbar-width: none;
    transition: scrollbar-color 0.2s ease-in-out;
    width: 100%;
    --scrollbar-hidden: transparent;
}
.NavbarDesktop_scrollableContent__OyU4P::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 0.5rem solid transparent;
    border-radius: var(--ym-radius-size-l);
    min-height: 3.125rem;
}
.NavbarDesktop_scrollableContent__OyU4P::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
}
@supports selector(scrollbar-width:auto) {
    .NavbarDesktop_scrollableContent__OyU4P {
        scrollbar-color: var(--scrollbar-hidden) transparent;
        scrollbar-gutter: stable;
    }
}
@supports selector(::-webkit-scrollbar) {
    .NavbarDesktop_scrollableContent__OyU4P::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-hidden);
    }
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktop_scrollableContent__OyU4P {
        transition: none;
    }
}
@media only screen and (max-width: 1024px) {
    .NavbarDesktop_scrollableContent__OyU4P::-webkit-scrollbar-thumb {
        border: 0.1875rem solid transparent;
    }
}
.NavbarDesktop_disabledNavigationItem__Qp_hs {
    cursor: default;
}
.NavbarDesktop_disabledNavigationItem__Qp_hs,
.NavbarDesktop_disabledNavigationItem__Qp_hs svg {
    color: var(--ym-controls-color-primary-text-disabled);
}
.NavbarDesktop_disabledNavigationItem__Qp_hs:focus-visible,
.NavbarDesktop_disabledNavigationItem__Qp_hs:hover {
    background-color: transparent;
    color: var(--ym-controls-color-primary-text-disabled);
}
.NavbarDesktop_disabledNavigationItem__Qp_hs:focus-visible svg,
.NavbarDesktop_disabledNavigationItem__Qp_hs:hover svg {
    color: var(--ym-controls-color-primary-text-disabled);
}
.NavbarDesktop_bestRecommendationsModal__l7GD2 {
    height: 100%;
    max-height: 25.625rem;
    max-width: 26.875rem;
    width: 100%;
}
.NavbarDesktop_bestRecommendationsModalHeader__VSi5Y {
    padding-block-end: var(--ym-spacer-size-xl);
    padding-block-start: var(--ym-spacer-size-xl);
}
.NavbarDesktop_bestRecommendationsModalContent__WhwfK,
.NavbarDesktop_bestRecommendationsModalHeader__VSi5Y {
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.NavbarDesktop_bestRecommendationsModalContent__WhwfK {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-l);
    overflow-y: scroll;
    padding-block-end: var(--ym-spacer-size-xxl);
    scrollbar-width: none;
    transition: scrollbar-color 0.2s ease-in-out;
    --scrollbar-hidden: transparent;
}
.NavbarDesktop_bestRecommendationsModalContent__WhwfK::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 0.5rem solid transparent;
    border-radius: var(--ym-radius-size-l);
    min-height: 3.125rem;
}
.NavbarDesktop_bestRecommendationsModalContent__WhwfK::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0;
}
@supports selector(scrollbar-width:auto) {
    .NavbarDesktop_bestRecommendationsModalContent__WhwfK {
        scrollbar-color: var(--scrollbar-hidden) transparent;
        scrollbar-gutter: stable;
    }
}
@supports selector(::-webkit-scrollbar) {
    .NavbarDesktop_bestRecommendationsModalContent__WhwfK::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-hidden);
    }
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktop_bestRecommendationsModalContent__WhwfK {
        transition: none;
    }
}
@media only screen and (max-width: 1024px) {
    .NavbarDesktop_bestRecommendationsModalContent__WhwfK::-webkit-scrollbar-thumb {
        border: 0.1875rem solid transparent;
    }
}
.NavbarDesktop_bestRecommendationsModalLogo__QnXgm {
    color: var(--ym-logo-color-primary-variant);
    flex-shrink: 0;
    height: 6.25rem;
    width: 6.25rem;
}
.NavbarDesktop_bestRecommendationsModalText__05Z3M {
    text-align: center;
}
@keyframes NavbarDesktop_animation_hide__8VxPs {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes NavbarDesktop_animation_show__pRFj9 {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.NavbarDesktopAnimatedBar_root__tTyvO {
    align-items: end;
    display: grid;
    grid-template-areas: 'root';
    justify-items: start;
    width: 100%;
}
.NavbarDesktopAnimatedBar_bar__Wge_o {
    grid-area: root;
    transform-origin: left bottom;
    width: 100%;
}
.NavbarDesktopAnimatedBar_bar_enter__pUWOV {
    opacity: 0;
}
.NavbarDesktopAnimatedBar_bar_enter_active__cYAzl {
    animation:
        NavbarDesktopAnimatedBar_animation_show__oAMq1 var(--navbar-collapse-duration) ease-in forwards,
        NavbarDesktopAnimatedBar_animation_scale__iOhup var(--navbar-collapse-duration) ease-in-out forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopAnimatedBar_bar_enter_active__cYAzl {
        animation: none;
    }
}
.NavbarDesktopAnimatedBar_bar_exit__Wq1AL {
    opacity: 1;
}
.NavbarDesktopAnimatedBar_bar_exit_active__EZFDU {
    animation:
        NavbarDesktopAnimatedBar_animation_hide__Eiu1e var(--navbar-collapse-duration) ease-in forwards,
        NavbarDesktopAnimatedBar_animation_unscale__gyZb6 var(--navbar-collapse-duration) ease-in-out forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopAnimatedBar_bar_exit_active__EZFDU {
        animation: none;
    }
}
.NavbarDesktopAnimatedBar_button__T7n21 {
    display: flex;
    grid-area: root;
    justify-content: center;
    width: var(--navbar-collapsed-width);
}
.NavbarDesktopAnimatedBar_button_enter__6v5a5 {
    opacity: 0;
}
.NavbarDesktopAnimatedBar_button_enter_active__jZmtw {
    animation: NavbarDesktopAnimatedBar_animation_show__oAMq1 var(--navbar-collapse-duration) ease-in forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopAnimatedBar_button_enter_active__jZmtw {
        animation: none;
    }
}
.NavbarDesktopAnimatedBar_button_exit__j8qXO {
    opacity: 1;
}
.NavbarDesktopAnimatedBar_button_exit_active__D5JJp {
    animation: NavbarDesktopAnimatedBar_animation_hide__Eiu1e var(--navbar-collapse-duration) ease-in forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopAnimatedBar_button_exit_active__D5JJp {
        animation: none;
    }
}
@keyframes NavbarDesktopAnimatedBar_animation_hide__Eiu1e {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes NavbarDesktopAnimatedBar_animation_show__oAMq1 {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes NavbarDesktopAnimatedBar_animation_unscale__gyZb6 {
    0% {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
@keyframes NavbarDesktopAnimatedBar_animation_scale__iOhup {
    0% {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.NavbarDesktopAnimatedDownloadBarEnlarged_root__5lnM0 {
    background-color: var(--ym-background-color-primary-enabled-content);
    border: 0.0625rem solid var(--ym-controls-color-primary-outline-enabled);
    border-radius: var(--ym-radius-size-l);
    flex-direction: column;
    margin-inline-end: var(--ym-spacer-size-s);
    margin-inline-start: var(--ym-spacer-size-s);
    padding: var(--ym-spacer-size-m);
}
.NavbarDesktopAnimatedDownloadBarEnlarged_root__5lnM0 .NavbarDesktopAnimatedDownloadBarEnlarged_closeButton__MSz9j {
    height: 1.25rem;
    inset-block-start: var(--ym-spacer-size-xxxs);
    inset-inline-end: var(--ym-spacer-size-xxxs);
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: opacity var(--ym-duration-transition);
    width: 1.25rem;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopAnimatedDownloadBarEnlarged_root__5lnM0 .NavbarDesktopAnimatedDownloadBarEnlarged_closeButton__MSz9j {
        transition: none;
    }
}
.NavbarDesktopAnimatedDownloadBarEnlarged_root__5lnM0:has(:focus-visible) .NavbarDesktopAnimatedDownloadBarEnlarged_closeButton__MSz9j,
.NavbarDesktopAnimatedDownloadBarEnlarged_root__5lnM0:hover .NavbarDesktopAnimatedDownloadBarEnlarged_closeButton__MSz9j {
    opacity: 1;
}
@supports not selector(:has(*)) {
    .NavbarDesktopAnimatedDownloadBarEnlarged_root__5lnM0:focus-within .NavbarDesktopAnimatedDownloadBarEnlarged_closeButton__MSz9j,
    .NavbarDesktopAnimatedDownloadBarEnlarged_root__5lnM0:hover .NavbarDesktopAnimatedDownloadBarEnlarged_closeButton__MSz9j {
        opacity: 1;
    }
}
.NavbarDesktopAnimatedDownloadBarEnlarged_text__fT36E {
    color: var(--ym-controls-color-primary-text-enabled);
    margin-block-end: var(--ym-spacer-size-xs);
    padding-inline-end: var(--ym-spacer-size-xxxs);
    padding-inline-start: var(--ym-spacer-size-xxxs);
    text-align: center;
    width: 100%;
}
.NavbarDesktopAnimatedDownloadBarEnlarged_downloadButtonText__3GqKa,
.NavbarDesktopAnimatedDownloadBarEnlarged_textBright__JA1nf {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.NavbarDesktopAnimatedDownloadBarEnlarged_closeButtonIcon___xaoS,
.NavbarDesktopAnimatedDownloadBarEnlarged_downloadButtonIcon__oE_rc {
    color: var(--ym-controls-color-primary-text-enabled);
    transition: color var(--ym-duration-transition);
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopAnimatedDownloadBarEnlarged_closeButtonIcon___xaoS,
    .NavbarDesktopAnimatedDownloadBarEnlarged_downloadButtonIcon__oE_rc {
        transition: none;
    }
}
.NavbarDesktopAnimatedDownloadBarEnlarged_closeButtonIcon___xaoS:hover {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.NavbarDesktopAnimatedDownloadBarMinimized_root__nEPqZ {
    align-items: center;
    background-color: var(--ym-background-color-primary-enabled-content);
    border: 0.0625rem solid var(--ym-controls-color-primary-outline-enabled);
    border-radius: var(--ym-radius-size-l);
    flex-direction: column;
    height: 5.625rem;
    margin-inline-end: var(--ym-spacer-size-s);
    margin-inline-start: var(--ym-spacer-size-s);
}
.NavbarDesktopAnimatedDownloadBarMinimized_icon__Y2hec {
    height: var(--ym-icon-size-xs);
    margin-block-end: var(--ym-spacer-size-xxs);
    margin-block-start: var(--ym-spacer-size-s);
    width: var(--ym-icon-size-xs);
}
.NavbarDesktopAnimatedDownloadBarMinimized_button__hesBw {
    width: 2.25rem;
}
.BuySubscriptionBanner_root__y2M_5 {
    background-color: var(--ym-surface-color-primary-enabled-list);
    border-radius: var(--ym-radius-size-xl);
    padding: var(--ym-spacer-size-xxl);
    padding-block-end: var(--ym-spacer-size-xs);
    text-align: center;
    width: 100%;
}
.BuySubscriptionBanner_logos__LHOzM {
    margin-block-end: var(--ym-spacer-size-xs);
    width: 5.625rem;
}
.BuySubscriptionBanner_title___sWo0 {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    margin-block-end: var(--ym-spacer-size-m);
}
.BuySubscriptionBanner_plusButtonShimmer__nS7im,
.BuySubscriptionBanner_plusButton__UwULz {
    height: 2.625rem;
}
.BuySubscriptionModal_root__5LvlX {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: var(--ym-background-color-primary-enabled-popover);
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    inset-block-end: 0;
    position: fixed;
    width: 100%;
}
.BuySubscriptionModal_root__5LvlX:before {
    background-color: var(--ym-controls-color-primary-text-enabled);
    border-radius: var(--ym-radius-size-xxxl);
    content: '';
    height: 0.25rem;
    inset-block-start: var(--ym-spacer-size-xs);
    inset-inline-start: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 2.8125rem;
}
.BuySubscriptionModal_content__v06Ju {
    display: flex;
    flex-direction: column;
    padding-block-end: var(--ym-spacer-size-l);
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.BuySubscriptionModal_content__v06Ju,
.BuySubscriptionModal_heading__07nBE {
    margin-block-end: var(--ym-spacer-size-xxxl);
}
.BuySubscriptionModal_heading__07nBE {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    font-family: var(--ym-font-heading);
    font-size: var(--ym-font-size-headline-xl);
    font-style: normal;
    font-weight: var(--ym-font-weight-bold);
    letter-spacing: var(--ym-letter-spacing-m);
    line-height: var(--ym-font-line-height-headline-xl);
    text-align: center;
}
.BuySubscriptionModal_buttons__wSCRP {
    display: flex;
    flex-direction: column;
    row-gap: var(--ym-spacer-size-m);
}
.BuySubscriptionModal_button__8m6Dx {
    height: 4rem;
    padding-block-end: 0;
    padding-block-start: 0;
    width: 100%;
}
.BuySubscriptionModal_buttonMainText__pyjEc {
    font-size: var(--ym-font-size-headline-xs);
    font-weight: var(--ym-font-weight-bold);
    line-height: var(--ym-font-line-height-headline-xs);
}
.BuySubscriptionModal_buttonAdditionText__rdKJn,
.BuySubscriptionModal_buttonMainText__pyjEc {
    font-family: var(--ym-font-text);
    font-style: normal;
    letter-spacing: normal;
}
.BuySubscriptionModal_buttonAdditionText__rdKJn {
    font-size: var(--ym-font-size-label-m);
    font-weight: 400;
    line-height: var(--ym-font-line-height-label-m);
}
.BuySubscriptionModal_header__ho5hr {
    display: flex;
    justify-content: flex-end;
    padding-block-start: var(--ym-spacer-size-l);
    padding-inline-end: var(--ym-spacer-size-l);
    padding-inline-start: var(--ym-spacer-size-l);
}
.PlusNavbarButton_root__kdY04 {
    padding-block-end: 0;
    padding-block-start: 0;
}
.PlusNavbarButton_plusButtonShimmer__6t1go,
.PlusNavbarButton_root__kdY04 {
    height: 2.625rem;
}
.BuySubscriptionButton_root__BdquR {
    align-items: center;
    background-color: var(--ym-background-color-primary-enabled-popover);
    border-radius: var(--ym-radius-size-xxxl);
    display: flex;
    inset-block-end: 0;
    inset-inline-start: 0;
    justify-content: space-between;
    margin-block-end: var(--ym-spacer-size-m);
    margin-inline-end: var(--ym-spacer-size-m);
    margin-inline-start: var(--ym-spacer-size-m);
    padding-block-end: var(--ym-spacer-size-m);
    padding-block-start: var(--ym-spacer-size-m);
    padding-inline-end: var(--ym-spacer-size-m);
    padding-inline-start: var(--ym-spacer-size-m);
    position: fixed;
    transition: inset-block-end var(--ym-duration-transition);
    width: calc(100% - var(--ym-spacer-size-m) * 2);
    z-index: var(--ym-z-index-player);
}
.BuySubscriptionButton_root_hidden__oMe3p {
    inset-block-end: calc(var(--ym-spacer-size-xxxxxl) * -2);
}
@media (prefers-reduced-motion: reduce) {
    .BuySubscriptionButton_root__BdquR {
        transition: none;
    }
}
.BuySubscriptionButton_info__qBinu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.BuySubscriptionButton_subtitle__Ni4VS,
.BuySubscriptionButton_title__RG_OU {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.BuySubscriptionButton_buttonText__cmJMC {
    white-space: nowrap;
}
.BuySubscriptionButton_titleContainer__h7Lmt {
    align-items: center;
    display: flex;
}
.BuySubscriptionButton_titleShimmer___hnah {
    height: var(--ym-font-size-label-m);
    width: 8.125rem;
}
.BuySubscriptionButton_titleShimmerContainer__Wv82r {
    height: var(--ym-font-line-height-label-m);
}
.BuySubscriptionButton_icon__0oNi_ {
    flex-shrink: 0;
    height: 0.75rem;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: var(--ym-spacer-size-xxxs);
    margin-inline-start: 0;
    width: 0.75rem;
}
.WithBuySubscriptionModal_buttonWithPlayerBar__p7or7 {
    margin-block-end: 9rem;
}
.NavbarDesktopPlusBar_root__QgKqJ {
    align-items: center;
    background-color: var(--ym-background-color-primary-enabled-content);
    border: 0.0625rem solid var(--ym-outline-color-primary-disabled);
    border-radius: var(--ym-radius-size-xl);
    display: flex;
    flex-direction: column;
    padding-block-end: var(--ym-spacer-size-m);
    padding-block-start: var(--ym-spacer-size-m);
    padding-inline-end: var(--ym-spacer-size-xs);
    padding-inline-start: var(--ym-spacer-size-xs);
}
.NavbarDesktopPlusBar_logos__kKKEl {
    height: 1.5rem;
    margin-block-end: var(--ym-spacer-size-xs);
    width: 3.5625rem;
}
.NavbarDesktopPlusBar_addition__vluXf,
.NavbarDesktopPlusBar_title__mMdem {
    text-align: center;
    white-space: pre-line;
}
.NavbarDesktopPlusBar_title__mMdem {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    margin-block-end: var(--ym-spacer-size-xxxs);
}
.NavbarDesktopPlusBar_addition__vluXf {
    color: var(--ym-controls-color-primary-text-enabled);
    margin-block-end: var(--ym-spacer-size-m);
}
.NavbarDesktopPlusBar_buttons__40_1A {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxxs);
    width: 100%;
}
.NavbarDesktopAnimatedPlusBar_root___wH9W {
    margin-block-start: var(--ym-spacer-size-xs);
}
.NavbarDesktopAnimatedPlusBar_button__IX7L4.NavbarDesktopAnimatedPlusBar_important__7R916 {
    color: var(--ym-controls-color-primary-text-enabled);
}
.NavbarDesktopAnimatedPlusBar_button__IX7L4.NavbarDesktopAnimatedPlusBar_important__7R916:focus-visible,
.NavbarDesktopAnimatedPlusBar_button__IX7L4.NavbarDesktopAnimatedPlusBar_important__7R916:hover {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.NavbarDesktopAnimatedPlusBar_icon__9lTgJ {
    height: 1.4375rem;
    width: 1.4375rem;
}
.NavbarDesktopPlusOptionsBar_root__2WZsH {
    background-color: var(--ym-background-color-primary-enabled-content);
    border: 0.0625rem solid var(--ym-outline-color-primary-disabled);
    border-radius: var(--ym-radius-size-xl);
    display: flex;
    flex-direction: column;
    padding-block-end: var(--ym-spacer-size-m);
    padding-block-start: var(--ym-spacer-size-m);
    padding-inline-end: var(--ym-spacer-size-xs);
    padding-inline-start: var(--ym-spacer-size-xs);
}
.NavbarDesktopPlusOptionsBar_addition__DJOlV,
.NavbarDesktopPlusOptionsBar_title__wGODi {
    text-align: start;
    white-space: pre-line;
}
.NavbarDesktopPlusOptionsBar_title__wGODi {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    margin-block-end: var(--ym-spacer-size-xxxs);
}
.NavbarDesktopPlusOptionsBar_addition__DJOlV {
    color: var(--ym-controls-color-primary-text-enabled);
    margin-block-end: var(--ym-spacer-size-m);
}
.NavbarDesktopPlusOptionsBar_buttons__lzCHr {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxxs);
    width: 100%;
}
.NavbarDesktopPlusOptionsBar_optionIcon__O1ccD {
    border-radius: 50%;
    height: 2.5rem;
    margin-block-end: var(--ym-spacer-size-m);
    object-fit: cover;
    width: 2.5rem;
}
.NavbarDesktopAnimatedPlusOptionsBar_root__dOEU7 {
    margin-block-start: var(--ym-spacer-size-xs);
}
.NavbarDesktopAnimatedPlusOptionsBar_button__NRXbJ.NavbarDesktopAnimatedPlusOptionsBar_important__mltBe {
    color: var(--ym-controls-color-primary-text-enabled);
}
.NavbarDesktopAnimatedPlusOptionsBar_button__NRXbJ.NavbarDesktopAnimatedPlusOptionsBar_important__mltBe:focus-visible,
.NavbarDesktopAnimatedPlusOptionsBar_button__NRXbJ.NavbarDesktopAnimatedPlusOptionsBar_important__mltBe:hover {
    color: var(--ym-controls-color-primary-text-enabled_variant);
}
.NavbarDesktopAnimatedPlusOptionsBar_icon__EKWgb {
    height: 1.4375rem;
    width: 1.4375rem;
}
.NavbarDesktopAnimatedPlusOptionsBar_button__NRXbJ {
    cursor: pointer;
    display: inline-block;
    padding: 0;
}
.NavbarDesktopAnimatedPlusOptionsBar_optionIcon__gPbRm {
    border-radius: 50%;
    height: 2.5rem;
    object-fit: cover;
    width: 2.5rem;
}
.NavbarDesktopAnimatedPlusOptionsBar_popoverContent__wSXo7 {
    max-width: 12.8125rem;
}
.NavbarDesktopAnimatedShimmerBar_root__o3xBB {
    margin-block-start: var(--ym-spacer-size-xs);
    width: 100%;
}
.NavbarDesktopAnimatedShimmerBar_barShimmer__ejAhM {
    border-radius: var(--ym-radius-size-xl);
    min-height: 9.375rem;
    width: 100%;
}
.NavbarDesktopAnimatedShimmerBar_buttonShimmer___3Vz2 {
    height: 2.5rem;
    width: 2.5rem;
}
.NavbarDesktopUnauthorizedBar_root__uQZ9L {
    align-items: center;
    background-color: var(--ym-background-color-primary-enabled-content);
    border: 0.0625rem solid var(--ym-outline-color-primary-disabled);
    border-radius: var(--ym-radius-size-xl);
    display: flex;
    flex-direction: column;
    padding-block-end: var(--ym-spacer-size-m);
    padding-block-start: var(--ym-spacer-size-m);
    padding-inline-end: var(--ym-spacer-size-xs);
    padding-inline-start: var(--ym-spacer-size-xs);
}
.NavbarDesktopUnauthorizedBar_title__vf0W7 {
    color: var(--ym-controls-color-primary-text-enabled_variant);
    margin-block-end: var(--ym-spacer-size-xxxs);
}
.NavbarDesktopUnauthorizedBar_subtitle__anNNQ,
.NavbarDesktopUnauthorizedBar_title__vf0W7 {
    text-align: center;
}
.NavbarDesktopUnauthorizedBar_subtitle__anNNQ {
    margin-block-end: var(--ym-spacer-size-m);
}
.NavbarDesktopUnauthorizedBar_userProfile__hAABb {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-block-end: var(--ym-spacer-size-xs);
}
.NavbarDesktopUnauthorizedBar_userId__m0jC6 > button {
    background-color: var(--ym-controls-color-secondary-default-enabled);
}
.NavbarDesktopUnauthorizedBar_buttons__94Y3N {
    display: flex;
    flex-direction: column;
    gap: var(--ym-spacer-size-xxxs);
    width: 100%;
}
.NavbarDesktopUserWidget_userProfileContainer__ha3Tm {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: var(--player-bar-height);
    padding-inline-start: 1.1875rem;
    width: 100%;
}
.NavbarDesktopUserWidget_userProfile__vqeMC {
    margin-inline-end: var(--ym-spacer-size-m);
}
.NavbarDesktopUserWidget_userId__ihL7U > button {
    background-color: transparent;
}
.NavbarDesktopUserWidget_userMeta_withAnimation__rrz0Y {
    animation: NavbarDesktopUserWidget_animation_show__fadL3 var(--navbar-animation-show-duration) forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopUserWidget_userMeta_withAnimation__rrz0Y {
        animation: none;
    }
}
.NavbarDesktopUserWidget_userMeta_collapsed__cSARy {
    opacity: 0;
}
.NavbarDesktopUserWidget_userMeta_withAnimation__rrz0Y.NavbarDesktopUserWidget_userMeta_collapsed__cSARy {
    animation: NavbarDesktopUserWidget_animation_hide__tO81o var(--navbar-animation-hide-duration) forwards;
}
@media (prefers-reduced-motion: reduce) {
    .NavbarDesktopUserWidget_userMeta_withAnimation__rrz0Y.NavbarDesktopUserWidget_userMeta_collapsed__cSARy {
        animation: none;
    }
}
.NavbarDesktopUserWidget_unauthorizedBar__HE5Yu {
    margin-block-start: var(--ym-spacer-size-xs);
}
@keyframes NavbarDesktopUserWidget_animation_hide__tO81o {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes NavbarDesktopUserWidget_animation_show__fadL3 {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.NavbarMobile_root__NhKBQ {
    padding-block-end: var(--ym-spacer-size-m);
    padding-block-start: var(--ym-spacer-size-m);
    width: 100%;
}
.NavbarMobile_user__vTEb2 {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}
.NavbarMobile_disabledNavigationItem__PA3EE {
    cursor: default;
}
.NavbarMobile_disabledNavigationItem__PA3EE,
.NavbarMobile_disabledNavigationItem__PA3EE svg {
    color: var(--ym-controls-color-primary-text-disabled);
}
.NavbarMobile_disabledNavigationItem__PA3EE:focus-visible,
.NavbarMobile_disabledNavigationItem__PA3EE:hover {
    background-color: transparent;
    color: var(--ym-controls-color-primary-text-disabled);
}
.NavbarMobile_disabledNavigationItem__PA3EE:focus-visible svg,
.NavbarMobile_disabledNavigationItem__PA3EE:hover svg {
    color: var(--ym-controls-color-primary-text-disabled);
}
