.ChartPodcastsPage_root__J5lnx {
    container-name: chart-podcasts-page;
    container-type: inline-size;
    height: 100%;
    padding: 0;
    position: relative;
}
@media only screen and (max-width: 767.98px) {
    .ChartPodcastsPage_root__J5lnx {
        container-type: normal;
    }
}
.ChartPodcastsPage_scrollContainer__WQTf7.ChartPodcastsPage_important__fW45m {
    height: 100%;
    padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
    .ChartPodcastsPage_scrollContainer__WQTf7.ChartPodcastsPage_important__fW45m {
        height: auto;
        padding-block-start: var(--subpage-sticky-header-height);
    }
}
.ChartPodcastsPage_footer__7ytrT {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ChartPodcastsPage_footer__7ytrT {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ChartPodcastsPage_footer__7ytrT {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ChartPodcastsPage_footer__7ytrT {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ChartPodcastsPage_item__vGRt8 {
    display: flex;
    min-width: 8.75rem;
}
.ChartPodcastsPage_content__NcV4M {
    margin-block-start: var(--subpage-sticky-header-height);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ChartPodcastsPage_content__NcV4M {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ChartPodcastsPage_content__NcV4M {
        margin-block-start: 0;
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ChartPodcastsPage_content__NcV4M {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ChartPodcastsPage_content__NcV4M {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--ym-spacer-size-m);
    gap: var(--ym-spacer-size-m);
}
@media only screen and (min-width: 360px) {
    .ChartPodcastsPage_content__NcV4M {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 500px) {
    .ChartPodcastsPage_content__NcV4M {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 768px) {
    .ChartPodcastsPage_content__NcV4M {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 890px) {
    .ChartPodcastsPage_content__NcV4M {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (min-width: 960px) {
    .ChartPodcastsPage_content__NcV4M {
        gap: calc(var(--ym-spacer-size-m) * 2);
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .ChartPodcastsPage_content__NcV4M {
        --min-column-size: 10.75rem;
        grid-template-columns: repeat(2, minmax(10.75rem, 1fr)) !important;
        grid-template-columns: repeat(2, minmax(var(--min-column-size), 1fr)) !important;
    }
    @container chart-podcasts-page (width >= 618px) {
        .ChartPodcastsPage_content__NcV4M {
            grid-template-columns: repeat(3, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container chart-podcasts-page (width >= 815px) {
        .ChartPodcastsPage_content__NcV4M {
            grid-template-columns: repeat(4, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container chart-podcasts-page (width >= 1010px) {
        .ChartPodcastsPage_content__NcV4M {
            grid-template-columns: repeat(5, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
    @container chart-podcasts-page (width >= 1206px) {
        .ChartPodcastsPage_content__NcV4M {
            grid-template-columns: repeat(6, minmax(var(--min-column-size), 1fr)) !important;
        }
    }
}
@media only screen and (min-width: 1920px) {
    .ChartPodcastsPage_content__NcV4M {
        grid-template-columns: repeat(7, 1fr);
    }
}
.ChartTracksPage_root__QMbqY {
    height: 100%;
    padding: 0;
    position: relative;
}
.ChartTracksPage_scrollContainer__Pxe8S.ChartTracksPage_important__Lddyf {
    height: 100%;
    padding-inline-start: 0;
}
@media only screen and (max-width: 767.98px) {
    .ChartTracksPage_scrollContainer__Pxe8S.ChartTracksPage_important__Lddyf {
        height: auto;
        padding-block-start: var(--subpage-sticky-header-height);
    }
}
.ChartTracksPage_content__yyIAN {
    margin-block-start: var(--subpage-sticky-header-height);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ChartTracksPage_content__yyIAN {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ChartTracksPage_content__yyIAN {
        margin-block-start: 0;
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ChartTracksPage_content__yyIAN {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ChartTracksPage_footer__6sNBk {
    padding-block-end: var(--ym-spacer-size-xxl);
    padding-block-start: var(--ym-spacer-size-xxxl);
    padding-inline-end: var(--ym-spacer-size-s);
    padding-inline-start: var(--ym-spacer-size-xxl);
}
@supports (-moz-appearance: none) {
    .ChartTracksPage_footer__6sNBk {
        padding-inline-end: var(--ym-spacer-size-xxl);
    }
}
@media only screen and (max-width: 767.98px) {
    .ChartTracksPage_footer__6sNBk {
        padding-block-end: var(--ym-spacer-size-xxxl);
        padding-block-start: var(--ym-spacer-size-l);
        padding-inline-start: var(--ym-spacer-size-l);
    }
    @supports (-moz-appearance: none) {
        .ChartTracksPage_footer__6sNBk {
            padding-inline-end: var(--ym-spacer-size-l);
        }
    }
}
.ChartTracksPage_shimmerItem__YwM0h {
    height: 3.5rem;
}
